/* Styling for login-box */

.login-section {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 22.5%;
    height: 65%;
    background-color: #000000;
    position: relative;
}

.login-logo {
    padding: 20px 30px;
    border: 2px solid #000000;
    border-radius: 50%;
    background-color: #ffffff;
    display: inline-block;
    position: absolute;
    top: -225px;
    margin: 50%;
    transform: translate(-50%);
}

.login-box img {
    height: 80px;
}

#login-form {
    margin-top: 40%;
    margin-left: 30px;
    margin-right: 30px;
    font-family: "Poppins";
    font-size: 14px;
    color: #ffffff;
}

#input-username,
#input-password {
    width: 100%;
    margin-top: 10px;
    padding: 7.5px;
    border: none;
    outline: none;
    border-radius: 3px;
    margin-bottom: 5px;
}

#btn-login {
    font-family: "Poppins";
    font-weight: 700;
    width: 100%;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 6px;
    border: 1px solid #000;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 25px;
}

#btn-login:hover {
    background-color: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.sighup-link {
    margin-top: 2.5px;
}

.sighup-link,
.admin-link {
    text-align: right;
}

.sighup-link a,
.admin-link a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Poppins";
    font-size: 11px;
    margin-right: 30px;
    transition: all 0.3s;
}

.sighup-link a:hover,
.admin-link a:hover {
    text-decoration: underline;
}